services:
  mongodb:
    image: mongo:7.0
    container_name: oauth-mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    # volumes:
    #   - mongodb_data:/data/db
    #   - ./scripts/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    networks:
      - oauth-network

  redis:
    image: redis:7.2-alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    # volumes:
    #   - redis_data:/data
    networks:
      - oauth-network
networks:
  oauth-network:
    driver: bridge